/android-build/
/aur/src/
/build/
/docs/
/Deployment/
/Output/
*.autosave
*.o
*.json
*.so
*.xz
*hhc
*.pro.*
*_plugin_import.cpp
Makefile*
moc_*
qrc_*
ui_*
*~
.qmake.stash

# Website ignore files
/_site/
/.bundle/
/.jekyll-cache/
/.jekyll-metadata/
/.sass-cache/
/node_modules/
/assets/css/*.map
/assets/css/style.css
/assets/js/*.map
Gemfile.lock
package-lock.json
yarn.lock
*.code-workspace
*.log
