# Ignore files from other branches
/build*
/_site
/.bundle
/.jekyll-metadata
/.sass-cache
/.vendor
/assets/css/*.map
/assets/css/style.css
/assets/js/*.map
/node_modules
/vendor/*
Gemfile.lock
package-lock.json
yarn.lock
*.code-workspace
*.log
*.user
