[Desktop Entry]
Type=Application
Name=SmartHHC
GenericName=Electronic Drums HiHat Controller
Comment=Electronic Drums HiHat Controller
Exec=smarthhc
Icon=/usr/share/smarthhc/icons/icon.png
Categories=AudioVideo;Audio;Music;Midi;
Terminal=false
